<%layout("/layouts/boilerPlate") %>


    <h3 class="mt-3 mb-2">Search Results for <%= search %></h3>


    <div class="row row-cols-lg-2 row-cols-md-1">


        <% for(place of results){ %>

            <a href="/listings/<%=place._id%>" class="listing-link">

                <div class="card listing-card ">
                    <div class="card-img-overlay"></div>
                    <img src="<%=place.image.url%>" class="card-img-top " style="height: 18rem;" alt="<%=place.image%>">
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <p>
                                    <%=place.title%>
                                </p>
                            </b>
                        <p>&#36 <%=place.price.toLocaleString("en-US")%></p>
                        </p>
                    </div>
                </div>
            </a>


            <% } %>
    </div>